 <!-- COOKIES -->
           <!--- <% if (username) {%>
              <form method= "POST" action="/logout">
                <button  type="logout"  value="logout">Logout</button>
              </form> 
            <a class="navbar-brand" href="/urls">&nbsp;&nbsp;Logged in as <%= username %>!</a>
        <%} else {%>
          <form method= "POST" action="/login" id="cookies">
            <input type="text" placeholder="username" name="username">
            <button type="submit"  value="submit">Log in</button>
          </form> 
          <%}%>   --->